<launch>
    <node pkg="test" type="matching.py" name="matching" launch-prefix="xterm -e"/>
    <node pkg="test" type="communicater_node.py" name="communicater_node" launch-prefix="xterm -e"/>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" launch-prefix="xterm -e">
        <param name = "port" value = "/dev/ttyS17"/>
        <param name = "baud" value = "115200"/>
    </node>
</launch>
